<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="pure-form pure-form-aligned">
    <fieldset>
  <div class="field pure-control-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :email %>*<br>
    <%= f.text_field :email %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :password_hash %>*<br>
    <%= f.text_field :password_hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
</form>

<% end %>
