<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br>
    <%= f.date_select :exp_date %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br>
    <%= f.date_select :pay_date %>
  </div>
  <br>
  <div class="actions">
    <td><button class="btn btn-success" id="destroy"><i class="glyphicon glyphicon-plus-sign"></i><% f.submit %> Save Changes</button></td>
  </div>
<% end %>
