<h1>Subscribble</h1>
<input type="button" id="import-gmail" data-confirm="The Application Subscribble is requesting permission to access your Google Account" value="Import Email from Google Account" />
<table class="rwd-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Expiration date</th>
      <th>To Pay date</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody id="main">
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.sub_name %></td>
        <td>$<%= subscription.sub_price %>.00</td>
        <td><%= subscription.exp_date %></td>
        <td><%= subscription.pay_date %></td>
        <td><%= link_to 'Details', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Unsubscribe' %></td>
        <td><%= link_to 'Delete', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Subscription', new_subscription_path %>
