<div class="page-header">


  <h1>  <%= image_tag "unnamed.png", size: "45" %>ubscribble
    <small>Save Time, Save Money, Save Hassle</small></h1>
</div>





<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning:
  </strong>Your
  <a href="#" class="alert-link">Netflix</a>
  subscription is going to expire within a week.
</div>
<input type="button" id="import-gmail" data-confirm="The Application Subscribble is requesting permission to access your Google Account" value="Import Subscriptions from Email" />
<h3>Your Subscriptions</h3>
<button class="tag-movies"><i class="glyphicon glyphicon-film"></i></button>
<button class="tag-music"><i class="glyphicon glyphicon-music"></i></button>
<button class="tag-phone"><i class="glyphicon glyphicon-phone"></i></button>
<button class="tag-shopping"><i class="glyphicon glyphicon-shopping-cart"></i></button>
<button class="tag-print"><i class="glyphicon glyphicon-book"></i></button>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Next Payment Due</th>
      <th>Expires</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody id="main">
    <% tag_hash = { "Movies" => "glyphicon-film", "Music" => "glyphicon-music", "Phone"=> "glyphicon-phone" ,"Shopping" => "glyphicon-shopping-cart", "Fitness" => "glyphicon-user", "Print" => "glyphicon-book" }%>
    <% @subscriptions.each do |subscription| %>
      <tr class="<%= subscription.tag %>">
        <td>
          <i class="glyphicon <%= tag_hash[subscription.tag] %>"></i>
          <%= subscription.name %></td>
        <td>$<%= subscription.price %><small><% if subscription.monthly %>/mo<% else %>/yr<%end%></small></td>
        <td><%= subscription.pay_date.to_formatted_s(:long_ordinal)[0..-7] %></td>
        <td><%= subscription.exp_date.to_formatted_s(:long_ordinal) %></td>
        <td><a href=<%= subscription_path(subscription) %>><button class="btn btn-primary" id="destroy">
              <i class="glyphicon glyphicon-search"></i>
              Details</button></a>
        </td>
        <td><a href=<%=edit_subscription_path(subscription) %>><button class="btn btn-primary" id="destroy">
              <i class="glyphicon glyphicon-pencil"></i>
              Edit</button></a>
        </td>
        <td><a href=<%=subscription.url %>><button class="btn btn-danger" id="destroy">
              <i class="glyphicon glyphicon-trash"></i>
              Unsubscribe</button></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href=<%= new_subscription_path %>><button class="btn btn-success" id="destroy">
    <i class="glyphicon glyphicon-plus-sign"></i>
    Add a Subscription</button></a>
<hr>
<br>
<h3>Your Spending</h3>
<br>
<div>
  <%=image_tag "graph1.png"%>
  <%=image_tag "graph2.png"%>
</div>
<br>
