<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscription.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @subscription.price %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @subscription.exp_date %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @subscription.pay_date %>
</p>

<td><a href=<%= subscriptions_path %>><button class="btn btn-primary" id="destroy"><i class="glyphicon glyphicon-arrow-left"></i> Back</button></a></td>

<td><a href=<%=edit_subscription_path(@subscription) %>><button class="btn btn-primary" id="destroy">
                <i class="glyphicon glyphicon-pencil"></i> Edit</button></a>
        </td>