<p id="notice"><%= notice %></p>

<p>
  <strong>Sub name:</strong>
  <%= @subscription.sub_name %>
</p>

<p>
  <strong>Sub price:</strong>
  <%= @subscription.sub_price %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @subscription.exp_date %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @subscription.pay_date %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
