<!DOCTYPE html>
<html>
  <head>
    <title>Subscribble</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'subscriptions' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://code.jboxcdn.com/0.3.2/jBox.min.js"></script>
    <script src="http://code.jboxcdn.com/0.3.2/jBox.min.js"></script>
    <link href="http://code.jboxcdn.com/0.3.2/jBox.css" rel="stylesheet">
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
